* {
    box-sizing: border-box;

}

body {
    margin: 0;
    padding: 0;
}

/* car brands list */
.section-titles {
    text-align: center;
    margin: 2rem 0;
}

.car-brands {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    max-width: 90%;
    margin: 2em auto;
    padding: 0;
}

.brand img {
    max-width: 50px;
    margin: 10px;
    transition: 0.5s;
}

.brand img:hover {
    transform: scale(1.2);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

/* end of car brands list */

/* start of new arrived section */
.gray-bg-section {
    background-color: rgb(250, 250, 250);
    padding: 1rem 0;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin-left: 2rem;
}

.card {
    margin: 1rem;
    width: 21rem;
    transition: all 0.3s ease;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 2px 2px 10px #b6b6b6;
}
.card-img-top{
    height: 60%;
}
.card-body .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-title{
    color: #004687;
}
.card-body .price span {
    font-size: 2rem;
    font-weight: bold;
    color: #b81d18 ;
}
.view-btn{
    background-color: #202020;
    color: #f0f0f0;
    font-weight: bold;
}
.view-btn:hover{
    background-color: #b81d18;
    color: white;
}
/* end of new arrived section */

/* start of new arrived section */
/* end of new arrived section */
@media (max-width:768px){
    .cards {
        margin-left: 1rem;
    }
}
@media (max-width:376px){
    .cards {
        margin: auto;
    }
}