.navbar {
    padding: 0.5rem 10rem;
    min-height: 80px;
   
}
.nav-link{
    margin-right: 1rem;
}
.nav-item a{
    letter-spacing: 3px;
}
.nav-item .nav-link{
    color: black;
    font-weight: bold;
}
@media screen and (max-width: 768px) {
    .navbar {
        padding: 1rem;
    }
}
