* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}
.car-container{
    width: 80%;
    margin: 0 auto;
}
/* start of background search bar */
.bg-container {
    width: 100%;
    height: 100vh;
    background-image: url('../images/car5.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.outer {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, .5);
}

.search-bar-container {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bg-titles {
    text-align: center;
    color: beige;
    margin-bottom: 2rem;
}

.search-bar-container input {
    opacity: 0.8;
    width: 100%;
    padding: 5px 10px;
    outline: none;
}

.search-bar-container input:focus {
    opacity: 1;
}

.search-bar-container .fa-search {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 3;
    right: -370px;
    top: -32px;
    cursor: pointer;
}

/* end of background search bar */

/* select menus */
#select_filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem 0 ;
}

#select_filters select {
    width: 15rem;
    margin: 0.5rem;
    padding: 0.5rem;
}

/* select menus */

/* view types section */
.view-types{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

.views {
    display: flex;
}

.views div {
    width: 70px;
    height: 30px;
    background-color: #000;
    color: beige;
    margin-left: 1rem;
    cursor: pointer;
    border: 1px solid #000;
    text-align: center;
}

.views div:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #ddd;
}

/* end of view types section */

/* start of cards section */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    margin: 1rem 0.5rem;
    width: 20rem;
    box-shadow: 2px 2px 10px #ddd;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price span {
    font-size: 1.25rem;
    font-weight: bold;
}

/* list view cards */
.list-view-cards {
    display: flex;
    flex-direction: column;
}

.list-view-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0.5rem 0;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 10px #ddd;
}

.list-view-card img {
    width: 50%;
    height: 20rem;
    margin-right: 1rem 0;
    object-fit: cover;
}

.list-view-card .car-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
}

.car-details-table th,
td {
    padding: 0.5rem;
}


.car-details-table tr>td {
    padding-left: 1rem;
}

.car-details .price span {
    font-size: 2rem;
}

/* end of list view cards */
/* end of cards section */

@media (max-width: 1024px) {
    
    .list-view-card {
       margin: 1rem;
    }

    .list-view-card img {
        width: 100%;
        margin: 0 0 1rem 0;
    }

    .list-view-card .car-details {
        width: 100%;
    }

    h1,h2 {
        font-size: 1.5rem;
    }

    .list-view-card table,
    h2,
    .price {
        margin-left: 0;
        padding-left: 0;
    }
}
@media (max-width: 768px) {
    .car-container{
        width: 100%;
    }
    .nav-link a {
        margin: 0 5px;
        letter-spacing: 0;
        font-size: 8px;
    }

    .logo {
        width: 72px;
        height: 30px;
    }

    .search-bar-container {
        width: 300px;
    }

    .search-bar-container .fa-search {
        right: -270px;
    }
    .list-view-card img {
        width: 100%;
        margin-right: 1rem auto; 
    }

}

